html {
	background: #282c38;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
  	margin: 0;
  	font-family: 'Roboto', sans-serif;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

hr {
	color: #f2f2f2;
	width: 90%;
}

/* FORM */
#search-form {
	display: flex;
	width: 100%;
	height: 93px;
	font-size: 10px;
	align-items: center;
	background: #666666;
	color: #e6e6e6;
}

	#form-text {
		width: 45%;
		text-align: left;
	}

	.form-filter-label {
		display: block;
		/* text-align: left; */
	}

	.search-label {
		font-size: 24px;
		margin-left: 30px;
		margin-right: 20px;
		color: #e6e6e6;
		background: none;
		border: none;
	}

	.text-input {
		height: 100%;
		font-size: 24px;
		background: inherit;
		border: none;
		color: #e6e6e6;
	}

	#season-input {
		margin-left: 20px;
	}
	
	.year-input {
		background: #b3b3b3;
		border-radius: 5px;
		width: 40px;
		color: black;
	}

	.form-season {
		width: 20px;
		background: #b3b3b3;
		color: black;
		border-radius: 5px;
		height: 1em;
	}

	input:invalid {
		border: 2px red solid;
	}

	#form-parameters {
		width: 55%;
		display: flex;
		text-align: left;
	}

		#form-parameters-left {
			width: 20%;
			margin-right: 20px;
		}

	#form--submit {
		/* visibility: hidden; */
		background: none;
	}
	
	/*Hide up/down arrows for number input*/
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
	}
	
	input[type=number] {
	  -moz-appearance: textfield;
	}

/* SEARCH CONTENTS */
#search-results {
	background: #ffffff;
	display: flex;
	height: 606px;
	border: 1px solid grey;
}

	#search-results-details {
		width: 61%;
		padding: 0 10px;
	}

	#search-results-list {
		width: 39%;
		overflow: scroll;
		text-align: left;
		overflow-x: hidden;
	}

		.movieCard {
			display: flex;
			border-bottom: 1px #bbbbbb solid;
			height: 124px;
		}

		.activeCard {
			background: #ebebeb;
		}

			.movieCard--poster {
				border-radius: 5px;
				height: 60px;
				width: 60px;
				overflow: hidden;
				margin: auto 32px;
				margin-left: 32px;
				margin-right: 20px;
				object-fit: contain;
			}

				.movieCard--poster img {
					width: 100%;
				}

			.movieCard--details {
				margin: auto 0;
				color: #999999;
				font-size: .9em;
			}

			.movieCard--details h3,p{
				margin: 0;
				padding: 0;
			}

			.movieCard--details h3 {
				font-size: 16px;
				font-weight: 400;
				color: #666666
			}

	#search-results--counter {
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		padding-left: 25px;
		height: 80px;
		background: white;
		font-size: .9em;
		color: #404040;
		display: flex;
		align-items: center;
	}

	/* intersectionary observer div */
	#search-results--bottom {
		display: block;
		height: 1px;
	}

/* MAIN CONTENT */

	/* DEFAULT PAGE INFO TABLE */
	table, th, td {
		border: 1px solid #404040;
		border-collapse: collapse;
	}

	th {
		background: #b3b3b3;
	}

	#search-result-details--API-link {
		font-size: .8em;
		position: absolute;
		top: 680px;
		left: 75%;
	}

	.search-result-details--info {
		margin-bottom: 0px;
	}

/* FOCUSED MOVIE DETAILS */
#focused-movie-top {
	display: flex;
}

	#focused-movie {
		position: relative;
	}

	#focused-movie--poster {
		min-width: 240px;
		min-height: 370px;
		display: flex;
		align-items: center;
	}

		#focused-movie--poster img {
			height: 312px;
			width: 200px;
			margin: auto;
			border-radius: 5px;
		}

	#focused-movie--details {
		position: relative;
		width: 100%;
		height: 370px;
		text-align: left;
	}

		#focused-movie--details p {
			margin: 10px 0;
		}

	#focused-movie-details--positioning {
		position: absolute;
		bottom: 0;
	}

	#focused-movie--ratings {
		display: flex;
		width: 100%;
		justify-content: center;
		margin: 20px auto;
	}

		.rating {
			width: 25%;
			padding: 10px 20px;
			font-size: .9em;
			color: #999999;
		}

			.rating:nth-child(2) {
				border-left: 1px #999999 solid;
			}

			.rating:nth-child(3) {
				border-left: 1px #999999 solid;
			}

	#focused-movie--rated {
		border: 1px black solid;
		border-radius: 5px;
		font-size: .9em;
		padding: .1em .6em;
		margin-right: 10px;
		color: black;
	}

	#focused-movie--plot {
		width: 95%;
		text-align: left;
		margin: 0 auto;
	}


/* WATCHLIST */

#watchlist-buttons {
	position: absolute;
	top: 5%;
	right: 5%;
}

	.watchlist-button {
		width: 90px;
		height: 30px;
		border-radius: 5px;
		border: 1px solid black;
		background: white;
		font-size: 14px;
		margin: 2px;
	}


/* TOAST NOTIFICATION (FAILED SEARCH) */
@keyframes toast {
	0%, 100% {opacity: 0;
		visibility: hidden;
		bottom: 11.5%;
		display: none;}
	20%, 90% {opacity: 1;
		visibility: visible;
		bottom: 20%;
		display: block;}
}

#search-state{
	width: 200px;
	height: 80px;
	background: #ff4d4d;
	border-radius: 15px;
	animation-name: toast;
	animation-duration: 2s;
	animation-iteration-count: 1;
	position: absolute;
	left: 13%;
	top: 10%;
	visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

#details--loading {
	display: flex;
	justify-content: center;
	align-items: center;
}

#watchlist-modal {
	position: absolute;
	left: -25%;
	top: 5%;
	background: #c1c1d7;
	border: 1px solid; 
	border-radius: 30px;
	padding: 10px;
}

#watchlist-modal li {
	text-align: left;
}

button:hover, button:focus {
	background: #ff333380;
}

button:active {
	background: #ff3333;
}